extends layout

block content
  h1= title
  p     Welcome to Mindful Meals
  p To begin, simply enter an ingredient or recipe

  form(action="/", method='post')
    p Search:
    input(type='text', name='Search')
    input(type='submit', value="submit")
      
  p Two of the three APIs are delicate
  p One API only allows for 5 calls per minute, and the other only allows 50 calls per account.
  
  if recipes
    h5 Results:
    each val in recipes
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src=val.recipeImg)
        .card-content
          span.card-title.activator.grey-text.text-darken-4
            CardTitle= val.title
            i.material-icons.right See Analysis
          p
            a(href=val.source_URL) View Source
        .card-reveal
          span.card-title.grey-text.text-darken-4
            
            h5= val.title
            | <div id=#{val.chart_div}> </div>
            if val.ingredients 
              each ingredient in val.ingredients
                li= ingredient
            i.material-icons.right close

  script(type='text/javascript').
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      let recipes = !{JSON.stringify(recipes)};
      if (recipes.length > 0 ){
        recipes.forEach( function (recipe) {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Nutrient');
          data.addColumn('number', 'RDI %');
          data.addRows([
          ['Energy', recipe.energy],
          ['Fat', recipe.fat],
          ['Carbs', recipe.carbs],
          ['Protein', recipe.protein]
          ]);

        
          var options = {'title': recipe.title,
          'width':500,
          'height':300};
          var chart = recipe.chart_div;
          chart = new google.visualization.BarChart(document.getElementById(recipe.chart_div));
          chart.draw(data, options);
        });
      }
    }

      
